/*  ==========================
    CSS RESET
    ==========================  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey100: hsl(214, 17%, 92%);
    --clr-grey200: hsl(0, 0%, 81%);
    --clr-grey400: hsl(224, 10%, 45%);
    --clr-grey500: hsl(217, 19%, 35%);
    --clr-darkblue: hsl(219, 29%, 14%);
    --clr-black: hsl(0, 0%, 7%);
    --clr-purple50: hsl(260, 100%, 95%);
    --clr-purple300: hsl(264, 82%, 80%);
    --clr-purple500: hsl(263, 55%, 52%);
}

body {
    background-color: var(--clr-grey200);
    align-content: center;
}

.testimonial--white {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    padding: 2rem;
    box-shadow: 1.5rem 1.5rem 5rem var(--clr-grey400);
}
.testimonial--blue {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: var(--clr-darkblue);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 2rem;
    box-shadow: 1.5rem 1.5rem 5rem var(--clr-grey400);
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__profile-picture {
    border-radius: 50%;
    margin-right: 1.5rem;
}

.testimonial__bold {
    font-size: clamp(1rem,1.5rem,1.6rem);
    line-height: 2rem;
    margin: 1rem 0rem;
}

.testimonial__thin{
  font-size: clamp(0.875rem,1.17vw,1.2rem);
}

.testimonial__clifford {
    background-color: var(--clr-purple500);
    color: var(--clr-purple50);
    border-radius: 1rem;
}

.testimonial__walters {
    background-color: var(--clr-grey500);
    color: var(--clr-grey100);
    border-radius: 1rem;
}

.testimonial__harmon, .testimonial__whittle {
    background-color: var(--clr-white);
    color: var(--clr-darkblue);
    border-radius: 1rem;
}

.testimonial__abrams {
    background-color: var(--clr-darkblue);
    color: var(--clr-grey100);
    border-radius: 1rem;
}


/*  +++++++++++++++++++++++++++++
    |       GRID LAYOUT         |
    +++++++++++++++++++++++++++++*/
.testimonial__grid {
  display: grid;
  gap: 1.5rem;
  margin: 3rem 1.5rem;
  grid-template-areas: 
  'clifford'
  'walters'
  'harmon'
  'abrams'
  'whittle'
  ;
}

.testimonial__clifford {
  grid-area: clifford;
}

.testimonial__walters {
  grid-area: walters;
}

.testimonial__harmon {
  grid-area: harmon;
}

.testimonial__abrams {
  grid-area: abrams;
}

.testimonial__whittle {
  grid-area: whittle;
}


@media (min-width: 67.5rem) {
  .testimonial__grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  'clifford clifford walters whittle'
  'harmon abrams abrams whittle'
  ;
  }
  
}
/* 
@media (min-width: 48rem) {
  .testimonial__grid {
  grid-template-areas: 
  'clifford clifford'
  'walters harmon'
  'abrams whittle'
  'abrams whittle'
  ;
  }
   */



